@import url(../atoms/dropdown.css);

.dropdown:hover .dropdown-menu {
  display: block;
}

#menu-button:hover + .toggle-menu-bar {
  visibility: visible;
}


.profile{

  position:absolute !important;
  top:18px !important;
  left:100px !important;
}
@media (max-width:1024px){

  .logo{
    padding:0px !important;
  }
  .nav{
    padding-right:1% !important;
    /* font-size: 12px !important; */

  }
  .Name{
    display: none;
  }
  .nav-items{
    font-size: 15px !important;
  }
  .nav-items .nav-items-wrapper *{
    min-width: 15% !important;
  }
  .nav-items .nav-items-wrapper .main{
    min-width: 30% !important;
  }
  .profile{
    left: 50px !important;
    top:-542px !important;
  }

}




@media (max-width:640px) {
  
  .profile{
    display: none !important;
    left: 50px !important;
    top:-542px !important;
  }
}

